.footer-container 
{
 justify-content: space-between;
}

.footerMenu 
{
    
    gap: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.footer-right 
{
    align-items: end;
}

.footer-left .secondaryText 
{
    margin-top: 1rem;
}

@media screen and (max-width:666px) {

    .footer-left 
    {
        justify-content: center;
        align-items: center;
    }
    .footer-right 
    {
        justify-content: center;
        align-items: center;
    }
    .footer-container 
    {
        justify-content: center;
    }
}